<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @plan.amount %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @plan.interval %>
</p>

<p>
  <strong>Desired plan:</strong>
  <%= @plan.desired_plan_id %>
</p>

<p>
  <strong>Stripe plan:</strong>
  <%= @plan.stripe_plan_id %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
