<!DOCTYPE html>
<html>
  <head>
    <title>StripeDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Customers", customers_path %> |
    <%= link_to "Plans", plans_path %> |
    <%= link_to "Cards", cards_path %>
    <hr>
    <%= yield %>
  </body>
</html>
